# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vi Temp Files
*~
*.swp

# Ultraedit Temp Files
*.bak

# Qt User Project Setting
*.pro.user

# Qt Object Folders
/*-build-*
